body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 50vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#logout {
  cursor: pointer;
}

.cart-item {
  display: flex;
  margin-left: 15px;
  padding: 15px 0;
  width: 100% !important;
  border-bottom: 1px solid #707070;

  text-align: left;
}

.cart-item > img {
  width: 150px;
}

.cart-item h4 {
  margin-top: 20px;
}

.cart-item p {
  margin: 0px;
}

.cart-item .price {
  margin-bottom: 15px;
}

.cart-items-container > div {
  width: 100%;
  padding-right: 30px;
}

.cart-item .anchor {
  color: red !important;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
